<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/content.css">

<div id="content">
    <h4 id="hero-alert">3 DAYS ONLY! EXTRA 20% OFF online with code: SAVE20 thru 4/30, see terms ></h1>
    <div id="card-house">
        <div id="house-top">
            <div id="shop-sale">
               <h3>Extra 20% OFF</h3>
               <h1>Thousands of items online</h1>
               <h4>with code: SAVE20 thru 4/30, see terms</h4>
               <button>Shop sale</button>
            </div>
            <div id="sale-img-wrapper">
                <img src="https://cdn8.dissolve.com/p/D25_45_102/D25_45_102_1200.jpg" alt="dog in grass">
            </div>
        </div>
        <div id="house-bottom">
            <h1>Stack deals & save MORE!</h1>
            <p>Shop now</p>
            <div id="card-carousel">
                <div class="card">
                    <h3>Buy 3, get the 4th</h3>
                    <h1>FREE</h1>
                    <p>all dog or cat toys*</p>
                    <div class="card-circle"></div>
                </div>
                <div class="card">
                    <h3>Buy 3, get the 4th</h3>
                    <h1>FREE</h1>
                    <p>all Viva La Kitty products*</p>
                    <div class="card-circle"></div>
                </div>
                <div class="card">
                    <h3>Buy 1, get the end</h3>
                    <h1>25% OFF</h1>
                    <p>all disposable dog pads*</p>
                    <div class="card-circle"></div>
                </div>
                <div class="card">
                    <h3>Save</h3>
                    <h1>20%</h1>
                    <p>on select Top Fin Starter Kits*</p>
                    <div class="card-circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>