<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/footer.css">

<div id="footer">
    <div id="footer-top">
        <div id="footer-left">
            <h1>Pet Store</h1>
            <p>Pet Store is an industry leading health and wellness company focused on improving the lives of pets, pet parents and our partners. Our highly trained professionals are focused on providing the best care for your pet through our full-service cat and dog grooming, veterinary services, Petsco vaccination clinics, adoption services, in-store and online dog and puppy training classes.</p>
        </div>
        <div id="footer-right">
            <h1>Follow us</h1>
            <div id="social-media">
                <img src="../images/facebook.png" alt="facebook icon">
                <img src="../images/Insta.png" alt="instagram icon">
                <img src="../images/twitter.png" alt="twitter icon">
                <img src="../images/YouTube.png" alt="youtube icon">
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <p>&copy; 2025 Pet Store. All rights reserved.</p>
    </div>
</div>