<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/header.css">

<header id="header">
    <a href="#main-content" class="skip-link">Skip to main content</a>
    
    <div id="upper-header-group">
        <div id="logo-wrapper">
            <img src="../images/logoMAIN.png" alt="A Dog’s Life Logo">
        </div>
        <h1 class="site-title">A Dog’s Life</h1>
    </div>

    <nav aria-label="Main Navigation">
        <ul>
            <li><a href="#">Shop by Brand</a></li>
            <li><a href="#">Shop by Pet</a></li>
            <li><a href="#">Pet Services</a></li>
            <li><a href="#">Deals</a></li>
            <li><a href="#">Featured</a></li>
            <li><a href="#">Pharmacy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Find a Store</a></li>
        </ul>
    </nav>
</header>
