<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/header.css">

<header id="header">
    <div id="upper-header-group">
        <div id="logo-wrapper">
            <img src="../images/logoMAIN.png" alt="Paw Logo">
        </div>
    </div>
    <nav>
        <a href="#">Shop by brand</a> 
        <a href="#">Shop by pet</a>
        <a href="#">Pet Services</a>
        <a href="#">Deals</a>
        <a href="#">Featured</a>
        <a href="#">Pharmacy</a>
        <a href="#">Help</a>
        <a href="#">Find a Store</a>
    </nav>
</header>